{
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"printWidth": 120,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"embeddedLanguageFormatting": "auto",
	"jsxSingleQuote": true
}